<div class="card">
  <div>
    <img src="https://via.placeholder.com/60" alt="Club Picture">
  </div>
  <div class="card-content">
      <div class="card-title">Club Name 3</div>
      <div class="card-description">This is a brief description of Club Name 3.</div>
      <div>
          <button class="join-button">Join Club</button>
      </div>
      <div class="card-actions">
        <button class="send-message-button">
          <mat-icon>chat</mat-icon> Open chat
        </button>
      </div>

  </div>
</div>
