/* General Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Profile Card Styles */
.profile-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}


/*********Iva*********/
.photo-role{
  width: 100%;
  height: 45vh;
}

.pic-design{
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.img-cover{
  width: 100%;
  height: 53vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
  display: flex;
}

.header_my_profile{
  position: relative;
  z-index: 1100;
  top: 82%;
  margin-left: 27%;
  color: #DBFCFF;
}

.main-info{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.simple-info{
  width: 32%;
  height: 60vh;
  background-color: #0AADFF;
}

.pfp-div {
  border: 4px #DBFCFF solid;
  padding: 2vh;
  border-radius: 100%;
  max-width: 15%; /* gornja granica širine */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1200;
  top: 42%;
  left: 8.5%;
}

.user-pfp {
  width: 30vh; /* prilagođava se veličini roditeljskog elementa */
  height: 26vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}



.profile-details{
  position: relative;
  top:40%;
  margin: auto;
  text-align: center;
}

.follow-followers{
  display: flex;
  flex-direction: row; 
  gap:25px; 
  color:#031926;
  width: 140px;
  margin: auto;
  cursor: pointer;
}

.follow-followers-hover:hover{
  color: #DBFCFF;
}

.custom-button {
  background-color: #F2D177;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s ease;
  margin: auto;
}

.custom-button:hover {
  background-color: #f9e19f;
}

.matt-icon-button {
  margin-left: 8px;
  font-size: 18px;
  vertical-align: middle;
}


.user-name {
  font-size: 28px;
  font-weight: bold;
  color: #DBFCFF;
  text-align: center;
}

.user-role {
  font-size: 19px;
  font-weight: bold;
  color: #031926;
  text-align: center;
  margin-top: 5px;
}


.information-section {
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.section-heading {
  font-weight: 600;
  color: #34495e;
  margin-left: 30px;
}

.information-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.information-column {
  flex-basis: 100%;
  margin-left: 40px;
}

.information-label {
  font-size: 15px;
  color: #0AADFF;
  margin-bottom: -5px;
}

.information-value {
  font-size: 18px;
  font-weight: 500;
  color: #34495e;
  margin-top: 5px;
}

.button-column {
  flex-basis: 100%;
  margin-top: 30px;
  text-align: center;
}

.all-info{
  width: 60%;
  margin-left: 10px;
}

.edit-bg{
  background-color: #DBFCFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px;
}

/**Editovanje forme**/
.edit_form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
}

.edit_form_row {
  display: flex;
  flex-wrap: wrap;
  gap: 25%;
  margin-bottom: 15px;
  margin-left: 20px;
}

label {
  font-size: 14px;
  color: #0AADFF;
  margin-bottom: 8px;
  display: block;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

input[readonly] {
  background-color: #ecf0f1;
}

.button_edit_submit {
  text-align: right;
  width: 100%;
  margin-top: 10px;
}

.button-submit {
  background-color: #F2D177;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.button-submit:hover {
  background-color: #f9e19f;
}

textarea{
  width: 120%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 120px;
  font-family: 'Roboto', serif;
}





.send-message-button {
  display: flex;
  float: right;
  margin-right: 40px;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-message-button i {
  font-size: 1rem;
}

.send-message-button:hover {
  background-color: #0056b3;
}



/* General modal styling */
.custom-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2500;
}

.custom-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 70%;
  height: 70%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
 
}
.custom-modal-content-followers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 70%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Prevent scroll overflow */
  transition: all 0.5s ease-out;  /* Animacija za proširenje */
  height: 75%;
}

.modal-body {
  margin-top: 10px;
  display: flex;
  width: 100%; /* Parent container takes full width */
  height: 100%;
  transition: all 0.5s ease-out; /* Smooth adjustment */
}

.followers-table-container {
  flex-grow: 1; /* Default state: takes as much space as possible */
  flex-shrink: 1; /* Allow shrinking when space is reduced */
  transition: flex 0.5s ease-out;
  overflow: hidden; /* Prevent overflow of content */
}

.message-form-container {
  
  width: 0; 
  max-width: 35%; 
  flex-shrink: 0; 
  transition: width 1.5s ease-out, opacity 1.5s ease-out;
  opacity: 0; 
  padding-left: 10px;
}

.message-form-container.show {
  margin-top: 8vh;
  width: 35%; /* Expand to maximum width */
  opacity: 1; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #999;
}

.close-button:hover {
  color: #000;
}

.table-container {
  margin-top: 15px;
  max-height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #DBFCFF;
  border-bottom: 1px solid #031926;
  color: #031926;
}

