div {
    width: 400px;
    display: flex;
    gap:20px;
    flex-direction: column;
}
.done-button{
  background-color: #F2D177;
  color: black;
  border-radius: 10px;
}
.done-button:hover{
  background-color: #DBFCFF;
}
